/* ルート要素のフォントサイズは20px */
html {
font-size: 20px;
}
/* -------------------------------------------------------- */
/* bodyのフォント種類 */
/* テキストは全て中央寄せ */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
/* -------------------------------------------------------- */
/* フォントカラー */
/* classで、blue=スカイブルー(キーワード)、pink=ピンク(rgb(255,192,203)) */
.blue {
  color: skyblue;
}

.pink {
  color: rgb(255,192,203);
}
/* -------------------------------------------------------- */
/* h1の装飾 */
/* フォント=googleのJosefin Sans */
/* 総称フォント=sans-serif */
/* フォントサイズ=ルート要素の2倍 */
/* 文字間=文字の大きさに対して1.2倍 */
/* 影をつける */
/* 3px(カラー：rgb(115,115,114))の実線をつける */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
/* -------------------------------------------------------- */
/* 名前～血液型までの要素をid属性basicのdivタグで囲う */
/* 子孫要素の考え方を利用して、侍太郎・1990年1月1日・Ｏ型、を太字にする */
#basic p {
  font-weight: bold;
}
/* -------------------------------------------------------- */